# private files
rootkey.csv
IAM_IDENTITY_CENTER_for_Custom SAML 2.0 application_certificate.pem
Custom SAML 2.0 application_ins-4bdc1a19c83a8790.xml
.DS_Store
aws/.DS_Store

**/.terraform.lock.hcl
**/.terraform/
**/max-devops.tfvars
**/terraform.tfstate
**/terraform.tfstate.backup
**/.secrets.tfvars
**/**/.terraform
**/**/.terraform.lock.hcl
infra/.secrets.tfvars
