# private files

rootkey.csv
IAM_IDENTITY_CENTER_for_Custom SAML 2.0 application_certificate.pem
Custom SAML 2.0 application_ins-4bdc1a19c83a8790.xml
.DS_Store
aws/.DS_Store
aws/terraform/.terraform.lock.hcl
aws/terraform/.terraform/
infracost-base.json
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
